/*
"." Dot for class
"#" Hash for ID
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
}

html {
  scroll-behavior: smooth;
}


#bgnav {
	background: url(../images/carbed1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#bgnav2{
	background-color: #800000;
}

#upicon {
	height:70px;
	width:70px; 
}

.nav-link{
	font-weight: bolder;
/*	font-family: 'Fjalla One', sans-serif;
*/	font-size: 22px;
	font-family: monospace;
}

#midcon	{
	position: relative; 
	top: 25%;
	left: 30%;
	transform: translateX(-30%);
}

#welcometext{
	font-size: 3.5em;
	color: white;
}

#testgitna{
	margin-right: -12px;
	margin-left: -12px;
}

#p1
{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}

#unitext
{
	text-align: center;
	font-size: 2em;

}

#p2
{
	font-family: 'Fjalla One', sans-serif;
}

.bg-foot{
	background-color: #800000;
}

